# generic dirs to ignore anywhere in tree
.git/
bin/
binaries/
_ccache/
cache/
.docker/
exe/
http-cache/
certs/
.ssh/

# specific project files/directories
atom/
aws/
aws/.aws/ # skip all for now
bash/.bash_history
**/.bash_sessions/**
bash/.bash_sessions/
bash/.bash_sessions/_expiration_check_timestamp
bds/
!bds/.bds/bds.config
cabal/
cheat/.cheat/oracle
cmake/
cookiecutter/
cpan/
data/
datastore/
dgenies/
docker/.docker/
dropbox/
drip/
eclipse/
elasticluster/
ete/
gazebo/
gitbook/
ghc/
gdrive/
gpg/
gnupg/
!henplus/.henplus/drivers
!henplus/.henplus/properties
henplus/.henplus
!ipfs/.ipfs/datastore_spec
!ipfs/.ipfs/config
ipfs/
lnav/
mc/
m2/
npm/
!passpie/.passpie/.config
!passpie/.passpie/.keys
passpie/
shpotify/
sql/
sqldeveloper/
subversion/
tmux/.tmux/plugins/
tmux/.resurrect/
tmux/.tmux/resurrect/
torch/
tor/
tldr/
vagrant/
vim/.vim/
!vim/.vimrc
vscode/

# files
*.a
*.aln
.bash_history
*.cache
*.cache-3
*.dat
*.data
*.db
*.dvi
*.dylib
.eclipse_keyring
secure_storage #eclipse
*.exe
*.gem
*.gif
*.gz
*.iso
*.jar
*.key
*.[ao]
*.pack
*.pdf
*.pkl
*.png
*.rar
*.sif
*.sqlite*
*.svg
*.tar
*.tgz
*.tiff
*.tmp
*.vmdk
*.xz
*.zip
.cookiecutter
.pyc
*.pom
*.swp
*.log
*.pem
*.ca
*.crt
*.kdb
*.session
*~
.DS_Store
